<section id="thumbnails">
    <h3>下载最多</h3>

    <div style="padding:5px; background:#ffffff;width:800px">

        <div id="myCarousel" class="carousel slide" >

            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Carousel items -->
            <div class="carousel-inner">

                <div class="item active">
                    <div class="row-fluid">
                        <div class="span3">
                            <div class="thumbnail" style="position: relative;">

                                <div class="caption">
                                    <a href="/star">
                                        <img data-src="holder.js/260x180" alt="260x180" src="/images/cross.png"  style=";max-width:100%;height:auto;" >
                                    </a>
                                    <h4>Cross</h4>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star-half-empty"></i>
                                    <i class="icon-star-empty"></i>
                                    <a href="/file/download.json?_id=dadddd" style="float:right;"><button >下载</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="thumbnail" style="position: relative;">

                                <div class="caption">
                                    <a href="/star">
                                        <img data-src="holder.js/260x180" alt="260x180" src="/images/cross.png"  style=";max-width:100%;height:auto;" >
                                    </a>
                                    <h4>Cross</h4>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star-half-empty"></i>
                                    <i class="icon-star-empty"></i>
                                    <a href="/file/download.json?_id=dadddd" style="float:right;"><button >下载</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="thumbnail" style="position: relative;">

                                <div class="caption">
                                    <a href="/star">
                                        <img data-src="holder.js/260x180" alt="260x180" src="/images/cross.png"  style=";max-width:100%;height:auto;" >
                                    </a>
                                    <h4>Cross</h4>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star-half-empty"></i>
                                    <i class="icon-star-empty"></i>
                                    <a href="/file/download.json?_id=dadddd" style="float:right;"><button >下载</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="thumbnail" style="position: relative;">

                                <div class="caption">
                                    <a href="/star">
                                        <img data-src="holder.js/260x180" alt="260x180" src="/images/cross.png"  style=";max-width:100%;height:auto;" >
                                    </a>
                                    <h4>Cross</h4>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star-half-empty"></i>
                                    <i class="icon-star-empty"></i>
                                    <a href="/file/download.json?_id=dadddd" style="float:right;"><button >下载</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!--/item-->


                <div class="item">
                    <div class="row-fluid">
                        <div class="span3">
                            <div class="thumbnail" style="position: relative;">

                                <div class="caption">
                                    <a href="/star">
                                        <img data-src="holder.js/260x180" alt="260x180" src="/images/cross.png"  style=";max-width:100%;height:auto;" >
                                    </a>
                                    <h4>Cross</h4>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star-half-empty"></i>
                                    <i class="icon-star-empty"></i>
                                    <a href="/file/download.json?_id=dadddd" style="float:right;"><button >下载</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="thumbnail" style="position: relative;">

                                <div class="caption">
                                    <a href="/star">
                                        <img data-src="holder.js/260x180" alt="260x180" src="/images/cross.png"  style=";max-width:100%;height:auto;" >
                                    </a>
                                    <h4>Cross</h4>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star-half-empty"></i>
                                    <i class="icon-star-empty"></i>
                                    <a href="/file/download.json?_id=dadddd" style="float:right;"><button >下载</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="thumbnail" style="position: relative;">

                                <div class="caption">
                                    <a href="/star">
                                        <img data-src="holder.js/260x180" alt="260x180" src="/images/cross.png"  style=";max-width:100%;height:auto;" >
                                    </a>
                                    <h4>Cross</h4>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star-half-empty"></i>
                                    <i class="icon-star-empty"></i>
                                    <a href="/file/download.json?_id=dadddd" style="float:right;"><button >下载</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="thumbnail" style="position: relative;">

                                <div class="caption">
                                    <a href="/star">
                                        <img data-src="holder.js/260x180" alt="260x180" src="/images/cross.png"  style=";max-width:100%;height:auto;" >
                                    </a>
                                    <h4>Cross</h4>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star-half-empty"></i>
                                    <i class="icon-star-empty"></i>
                                    <a href="/file/download.json?_id=dadddd" style="float:right;"><button >下载</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!--/item-->
                <div class="item">
                    <div class="row-fluid">
                        <div class="span3">
                            <div class="thumbnail" style="position: relative;">

                                <div class="caption">
                                    <a href="/star">
                                        <img data-src="holder.js/260x180" alt="260x180" src="/images/cross.png"  style=";max-width:100%;height:auto;" >
                                    </a>
                                    <h4>Cross</h4>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star-half-empty"></i>
                                    <i class="icon-star-empty"></i>
                                    <a href="/file/download.json?_id=dadddd" style="float:right;"><button >下载</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="thumbnail" style="position: relative;">

                                <div class="caption">
                                    <a href="/star">
                                        <img data-src="holder.js/260x180" alt="260x180" src="/images/cross.png"  style=";max-width:100%;height:auto;" >
                                    </a>
                                    <h4>Cross</h4>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star-half-empty"></i>
                                    <i class="icon-star-empty"></i>
                                    <a href="/file/download.json?_id=dadddd" style="float:right;"><button >下载</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="thumbnail" style="position: relative;">

                                <div class="caption">
                                    <a href="/star">
                                        <img data-src="holder.js/260x180" alt="260x180" src="/images/cross.png"  style=";max-width:100%;height:auto;" >
                                    </a>
                                    <h4>Cross</h4>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star-half-empty"></i>
                                    <i class="icon-star-empty"></i>
                                    <a href="/file/download.json?_id=dadddd" style="float:right;"><button >下载</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="thumbnail" style="position: relative;">

                                <div class="caption">
                                    <a href="/star">
                                        <img data-src="holder.js/260x180" alt="260x180" src="/images/cross.png"  style=";max-width:100%;height:auto;" >
                                    </a>
                                    <h4>Cross</h4>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star"></i>
                                    <i class="icon-star-half-empty"></i>
                                    <i class="icon-star-empty"></i>
                                    <a href="/file/download.json?_id=dadddd" style="float:right;"><button >下载</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!--/item-->
            </div><!--/carousel-inner-->

            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        </div><!--/myCarousel-->

    </div><!--/well-->


</section>