<% include common/head.html %>

<!-- Side bar -->


<script type="text/javascript">
    <%
    if (appId != '0') { %>

        $(function () {
            smart.doget('/app/info.json?app_id=<%=appId%>', function (err, data) {
                console.log(data);
                $("#name").val(data.name);
                $("#version").val(data.version);
                $("#memo").val(data.memo);
                $("#description").val(data.description);
                $("#device").val(data.require.device);
                $input = $("input[name=appType]");
                for(var i=0 ;i<$input.length;i++){
                    if($($input[i]).val()==data.appType){
                        $($input[i]).attr("checked","checked");
                    }
                }
                $("form").attr("action", "/app/update/step1.json");
                //控制sidebar
                console.log(data.editstep);
                for (var i = 1; i <= 5; i++) {
                    if (data.editstep >= i){
                        $("#step" + (i) + "").attr("href", "/app/add/step" + (i) + "?appId=" + data._id);
                        $($("#step" + (i) + "").find('i')[0]).css("display","block");
                        console.log(data.editstep)  ;


                    }else{
                        $("#step" + (i) + "").attr("href", "#");
                    }
                    $("#step1").addClass("active");
                }
            });


        });

    <%
    }
    %>
    function didSendStep1Callback(result) {
        console.log("console.log(result);");
        console.log(result);
        var appId = result.data._id;
        console.log("appp id   is   %s", appId);
        window.location.href = "/app/add/step2?appId=" + appId;
    }
    ;
    function didSendFn(data) {
        var sendData = {};
        var crsf = $("#_csrf").val();
        for (var i in data) {
            sendData[data[i].name] = data[i].value;
        }
        sendData["_csrf"] = crsf;
        return sendData;
    }
    ;

</script>


<!-- This is just a little bit of custom CSS code to enhance things. Feel free to place this in your main CSS file. I've commented to say what each bit does. -->
<style type="text/css">
        /* Removes the default 20px margin and creates some padding space for the indicators and controls */
    .carousel {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
    }

        /* Reposition the controls slightly */
    .carousel-control {
        left: -12px;
    }

    .carousel-control.right {
        right: -12px;
    }

        /* Changes the position of the indicators */
    .carousel-indicators {
        right: 50%;
        top: auto;
        bottom: 0px;
        margin-right: -19px;
    }

        /* Changes the colour of the indicators */
    .carousel-indicators li {
        background: #c0c0c0;
    }

    .carousel-indicators .active {
        background: #333333;
    }

    .desc {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(128, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        color: #fff !important;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('#myCarousel').carousel({
            interval: 10000
        })

        $("[rel='tooltip']").tooltip();

        $('#item1').hover(
                function () {
                    $(this).find('.desc').slideDown(250); //.fadeIn(250)
                },
                function () {
                    $(this).find('.desc').slideUp(250); //.fadeOut(205)
                }
        );
    });
</script>
<br>
<br>
<div class="container-fluid top_line">
    <div class="row-fluid">
        <div class="span2">
            <% include common/app_add_sidebar.html %>
        </div>
        <div class="span10 span10_left_line">

            <form class="required-validate form-horizontal" action="/app/create/step1.json" method="post"
                  onsubmit="return validateCallback(this,didSendStep1Callback,didSendFn,'确认提交吗？')">
                <% if (appId != '0') { %>
                <input type="hidden" name="_id" value="<%=appId%>"/>
                <%}%>
                <div class="widget-box">
                    <div class="widget-content nopadding">
                        <div class="control-group">
                            <label class="control-label">デバイス</label>

                            <div class="controls row-fluid">
                                <div class="span6">
                                    <label class="radio span2">
                                        <input type="radio" name="appType" id="appType" value="iPhone" />
                                        iPhone
                                    </label>
                                    <label class="radio span2">
                                        <input type="radio" name="appType" id="appType" value="Android" />
                                        Android
                                    </label>
                                    <label class="radio span2">
                                        <input type="radio" name="appType" id="appType" value="WEB" />
                                        WEB
                                    </label>
                                </div>


                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">アプリ名称</label>

                            <div class="controls">
                                <input class="required" type="text" name="name" id="name" value="">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">バージョン</label>

                            <div class="controls">
                                <input class="required" type="text" name="version" id="version">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">简介</label>

                            <div class="controls">
                                <input class="required" type="text" name="memo" id="memo">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">详细介绍</label>

                            <div class="controls">
                                <textarea class="required" name="description" id="description"
                                          style="resize: none;"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">分类</label>

                            <div class="controls">
                                <select name="catelog">
                                    <option value="">金融</option>
                                    <option value="">证券</option>
                                    <option value="">财务</option>
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">设备</label>

                            <div class="controls">
                                <input class="required" type="text" name="require.device" id="device">
                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label"></label>

                            <div class="controls">
                                <button class="btn btn-small btn-success" type="submit">下一步</button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<% include common/foot.html %>
