<% include common/head.html %>

<div class="span9">
    <% /* include list/home/new_list.html */ %>
    <div class="page-header"><h3>通知一览</h3></div>
    <div id="list_container"></div>
</div>

<% include common/template_detail_list.html %>

<script type="text/javascript">
    $(document).ready(function() {
        var list = DetailList.create();
        list.init($("#list_container"), {
            id_prex :  "dl_list"
            ,str    : {"loading": "加载中........"}
            ,cols   : [ "icon", "info", "os", "require", "status", "update_info", "rank", "downloadcount", "option"]
            ,url    : "/app/downloaded/list.json&sort=name&asc=1"
        });

        // 初始化加载数据
        list.load();
    });
</script>

<% include common/foot.html %>