<% include common/head.html %>

<div class="span9">
    <% /* include list/home/new_list.html */ %>
    <div class="page-header"><h3>已下载一览</h3></div>

    <table id="MyGrid" class="table table-bordered table-hover table-condensed">
        <thead>
        <tr>
            <th>项目1</th><th>项目1</th><th>项目1</th><th>项目1</th><th>项目1</th><th>项目1</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>sfs</td>
            <td>sfs</td>
            <td>sfs</td>
            <td>sfs</td>
            <td>sfs</td>
            <td>sfs</td>
        </tr>
        <tr>
            <td>sfs</td>
            <td>sfs</td>
            <td>sfs</td>
            <td>sfs</td>
            <td>sfs</td>
            <td>sfs</td>
        </tr>
        <tr>
            <td>sfs</td>
            <td>sfs</td>
            <td>sfs</td>
            <td>sfs</td>
            <td>sfs</td>
            <td>sfs</td>
        </tr>
        <tr>
            <td>sfs</td>
            <td>sfs</td>
            <td>sfs</td>
            <td>sfs</td>
            <td>sfs</td>
            <td>sfs</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th>
            sdfsdf
            </th>
        </tr>
        </tfoot>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function() {

    });
</script>

<% include common/foot.html %>