<% include common/head.html %>

<!-- 加载模板 -->
<% include common/template_carousel.html %>

<!-- Side bar -->
<% include common/sidebar.html %>
<div class="span9">
    <section id="thumbnails">
        <div class="breadcrumb breadcrumb-ext"><h4>新着</h4></div>
        <div id="container_new_list" style="padding:5px; background:#ffffff;width:800px">
        </div><!--well-->
    </section>
    <br><br>
    <section id="thumbnails">
        <div class="breadcrumb breadcrumb-ext"><h4>おすすめ</h4></div>
        <div id="container_download_list" style="padding:5px; background:#ffffff;width:800px">
        </div><!--well-->
    </section>
    <br><br>
    <section id="thumbnails">
        <div class="breadcrumb breadcrumb-ext"><h4>ランキング</h4></div>
        <div id="container_comment_list" style="padding:5px; background:#ffffff;width:800px">
        </div><!--well-->
    </section>
    <br><br>
</div>

<!-- 滚动列表CSS-->
<style type="text/css">
    /*
    .span3 img {
        border-top: 0px solid #EEE;
        border-bottom: 0px solid #EEE;
    }
    */
    .carousel-image {
        /* border: 1px solid #EEE; */
        max-width:100%;
        max-height:auto;
        width:100%;
        height:auto;
    }
    .breadcrumb-ext {
        padding: 1px 5px;
        width:800px;
    }
    .carousel {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
    }
    .carousel-control {
        left: -12px;
    }
    .carousel-control.right {
        right: -12px;
    }
    .carousel-indicators {
        right: 50%;
        top: auto;
        bottom: 0px;
        margin-right: -19px;
    }
    .carousel-indicators li {
        background: #c0c0c0;
    }
    .carousel-indicators .active {
        background: #333333;
    }
</style>

<script type="text/javascript">
    $(document).ready(function() {
        var crsf = $("#_csrf").val();

        // 新着一览
        var new_list = Carousel.create();
        new_list.init($("#container_new_list"), { name: "new_list" ,url: new_list.get_new_list_url() });
        new_list.load();//(test_detail_list_data);

        // 下载最多一览
        var download_list = Carousel.create();
        download_list.init($("#container_download_list"), { name: "download_list" ,url: new_list.get_download_list_url() });
        download_list.load();

        // 评价最高一览
        var comment_list = Carousel.create();
        comment_list.init($("#container_comment_list"), { name: "comment_list" ,url: new_list.get_comment_list_url() });
        comment_list.load();
    });
</script>

<% include common/foot.html %>
