textarea {
  resize:none;
}
.sidebar {
  margin-top:10px;
  margin-left:20px;
}
.sidebar ul {
  border-top:1px solid #EEE;
  width:200px;
  padding:0;
  margin:0;
}
.sidebar ul li {
  list-style-type:none;
}
.sidebar ul li a {
  display:block;
  padding:10px;
  border-bottom:1px solid #EEE;
  text-transform:uppercase;
}
.sidebar ul li a:hover {
  background-color:#EEE;
  text-decoration:none;
}
.sidebar ul li ul {
  background-color:#F6F6F6;
  box-shadow:inset 0 1px 10px #E0E0E0;
}
.main {
  margin:0 auto;
  width:1000px;
  /*padding-right:50px;
  */
}
.filter {
  background-color:#eee;
  width:675px;
  height:40px;
  line-height:40px;
  margin-left:250px;
  margin-bottom:10px;
  padding-left:10px;
  padding-top:5px;
  -webkit-border-radius:2px;
}
.span3 img {
  border-top:1px solid #EEE;
  border-bottom:1px solid #EEE;
}
.thumbnails {
  width:920px;
}
.thumbnail img {
  width:260px;
  height:180px;
}
.row-fluid {
  padding-left:225px;
}
.container-fluid {
  width:708px;
}
/* Widgets */
.widget-box {
  background:none repeat scroll 0 0 #F9F9F9;
  border-left:1px solid #CDCDCD;
  border-top:1px solid #CDCDCD;
  border-right:1px solid #CDCDCD;
  clear:both;
  margin-top:16px;
  margin-bottom:16px;
  position:relative;
}
.widget-box.widget-calendar,.widget-box.widget-chat {
  overflow:hidden !important;
}
.accordion .widget-box {
  margin-top:-2px;
  margin-bottom:0;
  border-radius:0;
}
.widget-box.widget-plain {
  background:transparent;
  border:none;
  margin-top:0;
  margin-bottom:0;
}
.widget-title,.modal-header,.table th,div.dataTables_wrapper .ui-widget-header {
  background:#efefef;
  border-bottom:1px solid #CDCDCD;
  height:36px;
}
.widget-title .nav-tabs {
  border-bottom:0 none;
}
.widget-title .nav-tabs li a {
  border-bottom:medium none !important;
  border-left:1px solid #DDDDDD;
  border-radius:0 0 0 0;
  border-right:1px solid #DDDDDD;
  border-top:medium none;
  color:#999999;
  margin:0;
  outline:medium none;
  padding:9px 10px 8px;
  font-weight:bold;
  text-shadow:0 1px 0 #FFFFFF;
}
.widget-title .nav-tabs li:first-child a {
  border-left:medium none !important;
}
.widget-title .nav-tabs li a:hover {
  background-color:transparent !important;
  border-color:#D6D6D6;
  border-width:0 1px;
  color:#2b2b2b;
}
.widget-title .nav-tabs li.active a {
  background-color:#F9F9F9 !important;
  color:#444444;
}
.widget-title span.icon {
  padding:9px 10px 7px 11px;
  float:left;
  border-right:1px solid #dadada;
}
.widget-title h5 {
  color:#666;
  float:left;
  font-size:12px;
  font-weight:bold;
  padding:12px;
  line-height:12px;
  margin:0;
}
.widget-title .buttons {
  float:right;
  margin:8px 10px 0 0;
}
.widget-title .label {
  padding:3px 5px 2px;
  float:right;
  margin:9px 11px 0 0;
  box-shadow:0 1px 2px rgba(0,0,0,0.3) inset,0 1px 0 #ffffff;
}
.widget-calendar .widget-title .label {
  margin-right:190px;
}
.widget-content {
  padding:15px;
  border-bottom:1px solid #cdcdcd;
}
.widget-box.widget-plain .widget-content {
  padding:12px 0 0;
}
.widget-box.collapsible .collapse.in .widget-content {
  border-bottom:1px solid #CDCDCD;
}
