<script src="/javascripts/common/carousel.js"></script>
<!-- 流动列表共通模板 -->
<script type="text/template" id="template_carousel">
    <div id="{{ id_prex }}_carousel" class="carousel slide" >

        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Carousel items -->
        <div class="carousel-inner">
            <$ _.each(apps, function(app, index) { $>
                <$ if(index % 4 == 0) { $>
                    <div class="item"><div class="row-fluid">
                <$ } $>
                    <div class="span3">
                        <div class="thumbnail" id="{{ id_prex }}_item_{{ index }}" style="position: relative;">
                            <a href="/star">
                                <img data-src="holder.js/260x180" alt="260x180" src="/images/cross.png"  style="max-width:100%;height:auto;">
                            </a>
                            <div class="caption">
                                <h4>Cross</h4>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. </p>
                            </div>
                            <div class="desc">
                                <h4>Caption Title</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                                <p><a href="#" class="btn btn-inverse" rel="tooltip" title="Preview"><i class="icon-eye-open"></i></a> <a href="#" rel="tooltip" title="Visit Website" class="btn btn-inverse"><i class="icon-share"></i></a></p>
                            </div>
                        </div>
                    </div>
                <$ if(index % 4 == 3) { $>
                    </div></div><!--/item-->
                <$ } $>
            <$ }) $>
            <$ if(apps.length % 4 != 3) { $>
                </div></div><!--/item-->
            <$ } $>
        </div><!--/carousel-inner-->

        <a class="left carousel-control" href="#{{ id_prex }}_carousel" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#{{ id_prex }}_carousel" data-slide="next">›</a>
    </div><!--/myCarousel-->
</script>